<a href="https://colab.research.google.com/github/PrajaktaKumavat/AdvPython/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def add(x,y):
  ""
  c1=x+y
  return c1
a1 = add(15,75)
print(a1)

90

In [8]:
def add2(*args):
  s=0
  for i in args:
    s=s+i
  return s

s1 = add2(45,67,89,23,12,67,45)
s1

348

In [9]:
def multiply(x,*args):
    """
    Inputs: X and multiple arguments
    Output: Returns a welcome statement along with product of given arguments
    """
    welcome = f"Welcome {x}"
    p = 1
    for i in args:
        p = i*p
    return f"{welcome}. Product of given data is {p}"

In [10]:
m1 = multiply("Raman",67,78,34,23,34)

In [11]:
m1

'Welcome Raman. Product of given data is 138948888'


I have employee data with me. Emp ids and empnames are stored in lists.I want to update their department details , let's assume IT department

In [13]:
employee1 = [101,"Raman"]
employee2 = [102,"Thaman"]
employee3 = [103,"Suman"]

In [14]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [15]:
add_dept(employee1,employee2,employee3)

In [16]:
employee3

[103, 'Suman', 'IT']

Keyword arguments **kwargs

In [17]:
add(56,78)

134

In [18]:
def func(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [19]:
dct = {
    "emp":101,
    "dept":"HR"
}

In [20]:
type(dct)

dict

In [21]:
dct.items()

dict_items([('emp', 101), ('dept', 'HR')])

In [22]:
func(id=101,dept="hr")

<class 'dict'>
dict_items([('id', 101), ('dept', 'hr')])

In [23]:
def func2(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [24]:
func2(ids=[101,201,301],depts=("hr","sales","marketing"))

dict_keys(['ids', 'depts'])
dict_values([[101, 201, 301], ('hr', 'sales', 'marketing')])

Write a function that returns the length of input items passed to it

In [25]:
employee2.append(67000)

In [26]:
employee3.append(True)

In [27]:
employee3

[103, 'Suman', 'IT', True]

In [28]:
dct

{'emp': 101, 'dept': 'HR'}

In [29]:
for k,v in dct.items():
    print(f"key is : {k}")
    print(f"value is {v}")

key is : emp
value is 101
key is : dept
value is HR

In [30]:
def len_data(**kwargs):
    dct = {}
    for key,data in kwargs.items():
        dct[key] = len(data)
        # dct[emp1]=len(employee1)
        # dct[emp2]=len(employee2)
        # dct[emp3] = len(employee3)
    return dct
    # dct.items() : ((emp1,3),(emp2,4),(emp3,5))

In [31]:
len_data(emp1=employee1,emp2=employee2,emp3=employee3)

{'emp1': 3, 'emp2': 4, 'emp3': 4}