<a href="https://colab.research.google.com/github/PrajaktaKumavat/AdvPython/blob/main/Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def introduce(self):
    print(f"Hi everyone, I am {self.name} and I am {self.age} years old")



p1=person("John",36)
print(p1.name)
print(p1.age)

John
36

In [3]:
p1.introduce()

Hi everyone, I am John and I am 36 years old

In [4]:

class employee(person):
    # create attributes for employee class
    def __init__(self,company,num):
        self.company = company
        self.num = num

    # create a function that provides work details of person
    def work(self):
        print(f"I am working at {self.company} from past {self.num}years")

In [5]:

e2 = employee("Wipro",3)

In [6]:
e2.num

3

In [7]:

e2.company

'Wipro'

In [8]:
#e2.company

#e1 = employee()

#e2.name

# All above errors are valid errors. because, we haven't provided any link between parent attributes and child class

In [9]:
class employee2(person):
    # create attributes for employee class
    def __init__(self, name, age,company,num):
        super().__init__(name, age)
        # person.__init__(name, age)
        self.company = company
        self.num = num

    '''
    def __init__(self,company,num):
        self.company = company
        self.num = num
    '''

    # create a function that provides work details of person
    def work(self):
        super().introduce()
        print(f"I am working at {self.company} from past {self.num}years")

In [10]:

e3 = employee2("Raman",45,"Wipro",3)

In [11]:

e3.age

e3.name

e3.work()

Hi everyone, I am Raman and I am 45 years old
I am working at Wipro from past 3years

# Multilevel Inheritance

In [12]:

#parent class
class emp:
    def __init__(self,name,employee_id):
        self.name = name
        self.employee_id = employee_id

    def get_emp_info(self):
        return (f"Employee details are : Name: {self.name}, ID: {self.employee_id}")

In [13]:

# child class1
class manager(emp):
    def __init__(self, name, employee_id,department):
        super().__init__(name, employee_id)
        self.department = department

    def get_dept_info(self):
        return (f"Employee department details are : {self.get_emp_info()}, Department: {self.department}")

In [14]:

#child class 2
class projectmanager(manager):
    def __init__(self, name, employee_id, department,project):
        super().__init__(name, employee_id, department)
        self.project = project

    def get_project_info(self):
        return (f"Employee details are : {self.get_dept_info()},Project: {self.project}")

In [15]:
pm1 = projectmanager("Thaman",234234,"Finance","PM108")

pm1.name

pm1.project

pm1.get_emp_info()

pm1.get_dept_info()
pm1.get_project_info()

'Employee details are : Employee department details are : Employee details are : Name: Thaman, ID: 234234, Department: Finance,Project: PM108'

# Multilevel Inheritance

In [16]:

#parent class
class emp:
    def __init__(self,name,employee_id):
        self.name = name
        self.employee_id = employee_id

    def get_emp_info(self):
        return (f"Employee details are : Name: {self.name}, ID: {self.employee_id}")

In [17]:

# child class1
class manager(emp):
    def __init__(self, name, employee_id,department):
        super().__init__(name, employee_id)
        self.department = department

    def get_dept_info(self):
        return (f"Employee department details are : {self.get_emp_info()}, Department: {self.department}")

In [18]:

#child class 2
class projectmanager(manager):
    def __init__(self, name, employee_id, department,project):
        super().__init__(name, employee_id, department)
        self.project = project

    def get_project_info(self):
        return (f"Employee details are : {self.get_dept_info()},Project: {self.project}")

In [19]:

pm1 = projectmanager("Thaman",234234,"Finance","PM108")

pm1.name

pm1.project

pm1.get_emp_info()


pm1.get_dept_info()


pm1.get_project_info()

'Employee details are : Employee department details are : Employee details are : Name: Thaman, ID: 234234, Department: Finance,Project: PM108'

# Hierarchial Inherfitance

In [20]:

class garve_hyundai:
    def __init__(self,name,location):
        self.name = name
        self.location = location
    def greeting(self):
        print(f"Hello {self.name}. Welcome to the showroom.")

    def models(self):
        print("We have latest models available at the showroom like Grandi10,Grandi20")

In [21]:

#child class1
class grandi10(garve_hyundai):
    def __init__(self, name, location,price_lookup):
        super().__init__(name, location)
        self.price_lookup = price_lookup

    def enquiry_price(self):
        super().greeting()
        print("Price range of this car is 9Lakhs")
        if self.price_lookup>10:
            print(f"Please check our best models falling under the same range with additional features")

In [22]:

#child class 2
class grandi20(garve_hyundai):
    def __init__(self, name, location,price_range):
        super().__init__(name, location)
        self.price_range = price_range

    def enquiry_price(self):
        super().greeting()
        print("Price range of this car is 20Lakhs")
        if self.price_range<10:
            print(f"Please check our best models falling under the same range with additional features")

In [23]:


gi10 = grandi10("Suman","Wakad",18)

In [24]:

gi10.enquiry_price()

Hello Suman. Welcome to the showroom.
Price range of this car is 9Lakhs
Please check our best models falling under the same range with additional features

In [25]:

gi20 = grandi20("Naman","Rahtani",7)

In [26]:

gi20.enquiry_price()

Hello Naman. Welcome to the showroom.
Price range of this car is 20Lakhs
Please check our best models falling under the same range with additional features

In [27]:

gi20_2 = grandi20("Chaman","Pimpri",17)

In [28]:

gi20_2.enquiry_price()

Hello Chaman. Welcome to the showroom.
Price range of this car is 20Lakhs